body{
    background: url(neuronas.jpg);
    background-size: 100%;
    font-family: gabriola;
    text-align: center;
  
  }
  h1{
    font-size: 50px;
    color: black;
  }
  
  h2{
    font-size: 30px;
    color: blue;
  }
  
  h3{
    font-size: 25px;
    color: blue;
  }
  
  p{
    font-size: 25px;
    text-align: center;
    color: black;
  }